
  <div class="table-responsive">
    <table class="table">
        <caption>List of users</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Book name</th>
            <th scope="col">Author name </th>
            <th scope="col">ISBN code</th>
            <th scope="col"># of available books</th>
            <th scope="col">Publishing date</th>
            <th scope="col">Category</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Count of Monte Cristo</td>
            <td>Alexander Dumas</td>
            <td>12345567</td>
            <td>5</td>
            <td>1/1/1991</td>
            <td>Fiction</td>
          </tr>
          <tr>
              <th scope="row">1</th>
              <td>Count of Monte Cristo</td>
              <td>Alexander Dumas</td>
              <td>12345567</td>
              <td>5</td>
              <td>1/1/1991</td>
              <td>Fiction</td>
          </tr>
          <tr>
              <th scope="row">1</th>
              <td>Count of Monte Cristo</td>
              <td>Alexander Dumas</td>
              <td>12345567</td>
              <td>5</td>
              <td>1/1/1991</td>
              <td>Fiction</td>
          </tr>
        </tbody>
      </table>
      <div class="btn-group" role="group" aria-label="add edit delete">
            <button type="button" class="btn btn-secondary">Add</button>
        </div>
        <div class="btn-group" role="group" aria-label="add edit delete">
            <button type="button" class="btn btn-secondary">Edit</button>
        </div>

        <div class="btn-group" role="group" aria-label="add edit delete">
            <button type="button" class="btn btn-secondary">Delete</button>
        </div>
  </div>
