<div class="container">

  <!-- Table -->
  <div class="table-responsive">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Book name</th>
            <th scope="col">Author name </th>
            <th scope="col">ISBN code</th>
            <th scope="col"># of available books</th>
            <th scope="col">Publishing date</th>
            <th scope="col">Category</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of listOfBooks" (click)="selectABook(book)">
            <th scope="row">{{book.id}}</th>
            <td>{{book.name}}</td>
            <td>{{book.author}}</td>
            <td>{{book.ISBNCode}}</td>
            <td>{{book.issuedAmount}}</td>
            <td>{{book.publishDate}}</td>
            <td>{{book.totalAmount}}</td>
          </tr>
        </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-success w-100"
        (click)="addNewBook()"
      >add</button>
    </div>
    <div class="col">
      <button
        type="button"
        class="btn btn-primary w-100"
        (click)="turnEditModeOn()"
      >edit</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-danger w-100">Delete</button>
    </div>
  </div>
</div>
